main {
    flex: 1 0 auto;
    padding: 0.5rem;
    background: linear-gradient(to left top, var(--theme-bg-color-1), var(--theme-bg-color-2));
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    height: 80%;
    min-height: fit-content;
    width: 30%;
    padding: 1.25rem 2rem;
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 15px;
    background: var(--tile-background, white);
    backdrop-filter: blur(10px);
    box-shadow: var(--tile-shadow, none);
}

form>fieldset {
    border: 2px solid black;
}

#form-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#create-form, #update-form, #delete-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}