:root {
    --tile-background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    --tile-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

main::target-text {
    background: linear-gradient(to right, #ff1493, #f9f871);
    color: white;
}

/*page styling*/
main {
    flex: 1 0 auto;
    padding: 0.5rem;
    background: linear-gradient(to left top, #ff4a73, #ffa94b);
    font-size: 1.25rem;

    h2 {
        text-align: center;
    }

    #info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 0;
        align-items: center;
        justify-items: center;
        width: fit-content;
    }

    section {
        height: 80%;
        min-height: fit-content;
        width: 80%;
        padding: 1.25rem 2rem;
        margin: 1rem 0;
        border: 1px solid black;
        border-radius: 15px;
        background: var(--tile-background, white);
        backdrop-filter: blur(10px);
        box-shadow: var(--tile-shadow, none);
    }

    #picture {
        min-width: fit-content;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 15px;
        }
    }
}

@media (max-width: 1100px) {
    main {
        #info {
            display: flex;
            flex-direction: column;
        }

        font-size: 1.75rem;
    }
}

@media (max-width: 800px) {
    main {
        font-size: 1rem;
        padding: 0.25rem;

        #info {
            display: flex;
            flex-direction: column;
        }

        section {
            padding: 1rem 1.5rem;
        }
    }
}