skill-item {
    display: inline-block;
    background-color: #757575;
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
}

skill-item.language {
    background-color: red;
}

skill-item.framework {
    background-color: lightskyblue;
    color: black;
}

skill-item.db {
    background-color: green;
}

main {
    flex: 1 0 auto;
    padding: 0.5rem;
    background: linear-gradient(to left top, var(--theme-bg-color-1), var(--theme-bg-color-2));
    font-size: 1.25rem;

    h2 {
        text-align: center;
    }

    #experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 1rem;
        align-items: center;
        justify-items: center;
    }

    #skills {
        width: 40%;
        grid-column: 1/-1;
    }

    section {
        height: 80%;
        min-height: fit-content;
        width: 80%;
        padding: 1.25rem 2rem;
        margin: 1rem 0;
        border: 1px solid black;
        border-radius: 15px;
        background: var(--tile-background, white);
        backdrop-filter: blur(10px);
        box-shadow: var(--tile-shadow, none);
    }

    p {
        justify-self: center;
    }
}

@media (max-width: 1100px) {
    main {
        #experience {
            display: flex;
            flex-direction: column;
        }

        section, #skills {
            width: 80%;
        }

        font-size: 1.75rem;
    }
}

@media (max-width: 800px) {
    main {
        font-size: 1rem;
    }
}